iv.card-section(id="info-card")
	div#card-msg
		= msg
    
- each val, cardMsg in JSON
	div.card-section(id="info-card")
		div#card-msg
			= cardMsg
		
		div#card-tables
			table(class=["table", "table-hover", "table-borded"])
				thead
					tr
						- each value, key in JSON[cardMsg]
							th
								= key
				tbody
					tr
						- each d, key in JSON[cardMsg]
							- var arr = JSON[cardMsg][key]
							th= arr[0]
					tr
						- each d, key in JSON[cardMsg]
							- var arr = JSON[cardMsg][key]
							th= arr[1]
            
