div.card-section(id="info-card")
  div#card-msg
    = msg
    
div.card-section(id="info-card")
  div#card-msg Results:-
  
  div#card-tables
    table(class=["table", "table-hover", "table-borded"])
      thead
        tr
          th Name
          th Registration ID
              
      tbody
        - each value, key in JSON
          tr
            th= value['name']
            th= value['regID']
